<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>Cette Application à etait developper par : Benoît Lagrange</ion-item>
  <ion-item>Elle utilise Ionic et l'api Pokeapi</ion-item>
</ion-content>
