<!--
  Generated template for the PokemonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pokemon.name}}</ion-title>
  </ion-navbar>

</ion-header>

<!--*ngFor='let type_list of pokemon.types'> *ngFor='let stat of pokemon.stats'  -->
<ion-content padding>
  <ion-card>
  <img src={{pokemon?.sprites?.front_default}}/>
  <ion-card-content>
    <ion-card-title>
      {{pokemon.name}}
      </ion-card-title>
      <ion-segment [(ngModel)]="stat">
        <ion-segment-button value="info">
          Info
        </ion-segment-button>
        <ion-segment-button value="base_stats">
          Stats
        </ion-segment-button>
        <ion-segment-button value="move">
          Move
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="stat">
        <ion-list *ngSwitchCase="'info'">
          <ion-item>
            <h2>Info</h2>
            <p ion-item>Pokemon Height: {{pokemon.height}} dm</p>
            <p ion-item>Pokemon Weight: {{pokemon.weight}} hg</p>

            <h3>Types:</h3>
            <ion-list *ngFor='let type_list of pokemon.types'>
              <ion-item>- {{type_list?.type?.name}} </ion-item>
            </ion-list>
            <h3>Abilities:</h3>
            <ion-list *ngFor='let abi of pokemon.abilities'>
              <ion-item>Name: {{abi?.ability?.name}} <br> Is hidden: {{abi?.is_hidden}}</ion-item>
            </ion-list>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'base_stats'">
          <ion-item>
            <h2>Stats</h2>
            <ion-list *ngFor='let stat_list of pokemon.stats'>
              <ion-item>{{stat_list?.stat?.name}}: {{stat_list?.base_stat}} </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'move'">
          <ion-item>
            <h2>Movement can be Learned by lvl-up or CT / CS</h2>
              <ion-grid>
                <ion-row *ngFor='let move_list of pokemon.moves'>
                  <ion-col col-4>{{move_list?.move?.name}}</ion-col>
                </ion-row>
              </ion-grid>
          </ion-item>
        </ion-list>

    </div>
  </ion-card-content>
</ion-card>
</ion-content>
