<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item> Bienvenue sur mon application Ionic, cette application est en quelque sorte un pokedex.</ion-item>
  <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor='let poke of news?.results'>
          <h3>{{poke?.name}}</h3>
          <button ion-button block (tap)='showPokemon(poke)' ></button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col6>
        <button ion-button (tap)="previousButton()">Page Précédente</button>
      </ion-col>
      <ion-col col6>
        <button ion-button (tap)="nextButton()">Page Suivante</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
