<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Contactez moi:</ion-list-header>
    <ion-item>
      <ion-icon name="at" item-start></ion-icon>
      benoitlagrange38@hotmail.fr
    </ion-item>
    <ion-item>
      <ion-icon name="globe" item-start></ion-icon>
      <a href="http://developont.fr/~bla/">Mon site web</a>
    </ion-item>
    <ion-item>
      <ion-icon name="git-network" item-start></ion-icon>
      <a href="https://gitlab.com/jumperdenfer">GitLab</a>
    </ion-item>
  </ion-list>

</ion-content>
